﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DogViewModel

<h1>Create</h1>

<hr />

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Create a new dog.</h5>
            </div>
            <div class="card-body">
                <form asp-controller="HelloWorld" asp-action="CreateDog" method="post">
                    <div class="mb-4">
                        <label class="form-label">Dog Name</label>
                        <input asp-for=Name type="text" class="form-control" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Dog Age</label>
                        <input asp-for=Age type="number" class="form-control" />
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>