﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<MyFirstMVCApp.Models.DogViewModel>

<h1>Hello World!</h1>
<p>This is the index page of the HelloWorld Controller.</p>

@foreach(var dog in Model)
{   
    <ul>
        <li>@dog.Name (@dog.Age)</li>
    </ul>
}